.score-tiempo {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente el contenido al centro */
  width: 100%;
  color: #000;
}

.score, .tiempo {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido al centro */
  font-family: 'Press Start 2P', cursive; 
}

.score img{
  width: 80px; 
  height: auto;
  margin-left: 20px;
}

.tiempo img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.score p {
  font-size: 20px; 
  margin-left: 25px;
  color: #fff;
}

.tiempo p{
  font-size: 20px; 
  color: #fff;
}
.numeros-card {
  position: relative;
  height: 180px; 
  color: black;
  border-radius: 15px;
  border: 1px solid black;
  font-family: 'Press Start 2P', cursive; 
}

.numeros-text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.vidas-container {
  display: flex;
  justify-content: center;
}

.vida-corazon {
  width: 120px;
  height: auto;
}

.datos-card {
  display: flex;
  
}

.custom-button {
  width: 100%; /* Asegura que el botón ocupe todo el ancho de su columna */
  font-family: 'Press Start 2P', cursive; /* Aplica la fuente deseada */
  --border-radius: 10px; /* Ajusta el radio del borde del botón */
  --background: rgba(255, 244, 244, 0.553); /* Fondo semitransparente */
  --color: #000; /* Color del texto del botón */
  --border: 1px solid #fff; /* Borde del botón */
  font-size: 18px; /* Tamaño de la fuente del botón */
}

ion-grid {
  --ion-grid-padding: 0; /* Elimina el padding del grid si es necesario */
}

ion-row {
  margin-bottom: 10px; /* Espacio entre las filas si es necesario */
}
.indicaciones {
  font-size: 10px;
  margin: 15px;
  text-align: center;
}
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Altura del viewport */
  background: url('/assets/imagenes/mazmorra.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}


.card-avatar{
  width: 95%; 
  height: 100px; 
  overflow: hidden; 
  display: flex;
}

.villano-img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}
.card-avatar p{
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin-left: 0px;
  color: #000;
  margin-right: 30px;
  margin-top: 20px;
}
