<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/practica/opciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Operaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-container">
    <div class="score-tiempo">
      <div class="score">
          <p>{{score}}</p>
          <img src="{{estrella}}" alt="estrella">
      </div>
      <div class="tiempo">
          <p>{{ tiempoRestante | number: '2.0' }}</p>
          <img src="{{reloj}}" alt="reloj">
      </div>
    </div>
   
    <ion-card class="numeros-card">
      <ion-card-content>
        <p class="numeros-text">{{ numeros }}</p>
        <div class="vidas-container">
          <img *ngFor="let corazon of [].constructor(vidas); let i = index" 
               src="assets/imagenes/Vidas.png" 
               alt="Corazón" 
               class="vida-corazon">
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-avatar"> 
      <ion-avatar class="villano-img ">
        <img src="{{villano}}" alt="Villano">
      </ion-avatar>
      <p>{{Condicion_Victoria}}</p>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of resultadosArray">
          <ion-button class="custom-button" (click)="seleccionarValor(item)">
            {{ item }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>


