<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Teoría: Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecciona una operación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Botones para seleccionar la operación -->
      <ion-button (click)="irAExplicacion('suma')" expand="full">Suma</ion-button>
      <ion-button (click)="irAExplicacion('resta')" expand="full">Resta</ion-button>
      <ion-button (click)="irAExplicacion('multiplicacion')" expand="full">Multiplicación</ion-button>
      <ion-button (click)="irAExplicacion('division')" expand="full">División</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
