<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Matematica
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">  App Matematica</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-card-header>
      <ion-card-title>Nombre Aplicativo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{imagenes}}" alt="Imagen Portada">
      <p>Esto es un texto generico que busque incentivar a los usuarios a practicar matematicas</p>
    </ion-card-content>
  <ion-card>
      <ion-button [routerLink]="['/practica/opciones']" >Ir a Practica</ion-button>
      <ion-button [routerLink]="['/teoria/opciones']" >Ir a Teoria</ion-button>
  </ion-card>
</ion-content>
