<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Matematica
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">  App Matematica</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-button [routerLink]="['/practica/opciones']" expand="full">Ir a Practica</ion-button>
    <ion-button [routerLink]="['/teoria/opciones']" expand="full">Ir a Teoria</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
