<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mathelandia
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mathelandia</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-card-header>
      <ion-card-title class="center principal">Mathelandia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{imagenes}}" alt="Imagen Portada">
      <strong class="center ">Listo para embarcar</strong>
      <p class="center">Preparate para tu primera aventura numerica</p>
    </ion-card-content>
    <ion-button  class="custom-button" [routerLink]="['/teoria/opciones']">Conocer a los enemigos</ion-button>
    <ion-button  class="custom-button" [routerLink]="['/practica/opciones']">Retar a los enemigos</ion-button>
</ion-content>
