



ion-header {
  background-color: #51A0B7;
}

ion-toolbar {
  --background: #51A0B7;
}


ion-content {
  --background: #51A0B7;
  font-family: 'Press Start 2P', cursive; 
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}


.custom-button {
  --background: #A1C5D7  ;  
  --color: #000;         
  --border-radius: 100px; 
  width: 80%;
  margin-left: 10%;
  text-transform: none;  
  font-family: 'Press Start 2P', cursive; 
}
